<ion-header>
  <ion-navbar>
    <ion-title>
      Cadastro
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]= "formGroup" (ngSubmit)="cadastroUsuario(); $event.preventDefault()">
    <ion-item>
      <ion-label>
        Nome:
      </ion-label>
      <ion-input formControlName ="nome" type="text" placeholder=""></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label>
        Email:
      </ion-label>
      <ion-input formControlName ="email" type="text" placeholder=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        CPF:
      </ion-label>
      <ion-input formControlName ="cpf" type="text" placeholder=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        Senha:
      </ion-label>
      <ion-input formControlName ="senha" type="text" placeholder=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        Tipo de Logradouro
      </ion-label>
      <ion-select name="">
        <ion-option>
          Rua
        </ion-option>
        <ion-option>
          Avenida
        </ion-option>
        <ion-option>
          Praça
        </ion-option>
        <ion-option>
          Travessa
        </ion-option>
        <ion-option>
          Rodovia
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>
        Logradouro:
      </ion-label>
      <ion-input formControlName ="logradouro" type="text" placeholder=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        Numero:
      </ion-label>
      <ion-input formControlName ="numero" type="text" placeholder=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        Complemento:
      </ion-label>
      <ion-input formControlName ="complemento" type="text" placeholder=""></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>
          Bairro:
        </ion-label>
        <ion-input formControlName ="bairro" type="text" placeholder=""></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>
            CEP:
          </ion-label>
          <ion-input formControlName ="cep" type="text" placeholder=""></ion-input>
        </ion-item>

    <ion-item>
      <ion-label>
        UF:
      </ion-label>
      <ion-select (ionChange)="updateCidades()">
        <ion-option *ngFor="let estado of estados; firts as f" [value]="estado.id" [selected]="f">{{ estado.nome }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>
          Cidade:
        </ion-label>
        <ion-select>
          <ion-option *ngFor="let cidade of cidades; firts as f" [value]="cidade.id" [selected]="f">{{ cidade.nome }}</ion-option>
        </ion-select>
      </ion-item>
    <ion-item>

      <ion-label>
        DDD:
      </ion-label>
      <ion-input formControlName ="ddd" type="text" placeholder=""></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>
          Telefone:
        </ion-label>
        <ion-input formControlName ="telefone" type="text" placeholder=""></ion-input>
      </ion-item>
    <button ion-button color="assertive" block type="submit" style="border-radius:20px 20px 20px 20px;" href-inappbrowser="/signup">
      Cadastrar
    </button>
  </form>
</ion-content>