<!--<ion-header>
  <ion-navbar>
    <ion-title>
      Restaurantes
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page5">
  <ion-searchbar animated placeholder = "Pesquise por Restaurante" style="background-color: transparent; width:100%; height: auto" (ionInput)="setFilteredItems()"></ion-searchbar>
  <ion-card style="margin-top: 7%; background-color:transparent">
    <ion-list *ngFor="let restauranteService of items">
      <img class = "ionImgDidLoad "src="../assets/imgs/mc.jpg" style="height: 250px;">
    <ion-card-header>
        <ion-card-title style="text-align: center">
          <h1 >{{restauranteService.nome}}</h1>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content >
          <button ion-button inline size="small" color = "dark">Ver Restaurante</button>
          <button ion-button inline size="small" color = "light" style="">Reserva Fácil</button>
      </ion-card-content>
      <ion-row style="height: 50px"></ion-row>
    </ion-list>
  
  </ion-card>
</ion-content>-->

<ion-header>
    <ion-navbar>
      <ion-title>Home</ion-title>
      <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()"></ion-searchbar>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <h2>Welcome to Ionic!</h2>
    <p>
      This starter project comes with simple tabs-based layout for apps
      that are going to primarily use a Tabbed UI.
    </p>
    <p>
      Take a look at the <code>pages/</code> directory to add or change tabs,
      update any existing page or create new pages.
    </p>
  
  
    <ion-list>
          <ion-item *ngFor="let data of jsonData">
              {{data.name}}
          </ion-item>
      </ion-list>
    
  </ion-content>
  