page-home {
    .circle{
        width: 20%;
        border-radius: 100%;
        margin: 25px auto 0 auto;
    }
    .bottomPanelIonSlide { 
        display: block;
        width: auto; 
        height: auto; 
        }
}
